.dashboard{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .title_admin{
        width: 100%;
        text-align: start;
        margin-top: 0;
        padding-bottom: 1vh;
        padding-left: 5vh;
        padding-top: 1.6vh;
        background-color: #171321;
        color: white;
        border-left: 1px solid white;
        .text{
            font-size: 13px;
            color: white;
        }
    }
    .main_title{
        width: 100%;
        height: 85vh;
        display: flex;
        flex-direction: column;       
        align-items: center;
        .box_order{
            margin-top: 3vh;
            background-color: white;
            color: black;
            width:90%;
            padding: 20px;
            border-radius: 8px;
            .top_box_order{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 2vh;
                .right_top_box_order{
                    button{
                        margin-right: 2.5vh;
                        font-size: 13px;
                        padding: 12px;
                        border: none;
                        outline: none;
                        background-color: #ff1d63;
                        border-radius: 6px;

                        color: white;
                        &:hover{
                            background-color:black ;
                            color: white;
                        }
                    }
                    .btn_account_select{
                        margin-right: 2vh;
                        height: 5vh;
                        width: 25vh;
                        color: white;
                        border-radius: 7px;
                        margin-left: 2vh;
    
                    }
                }
                
            }
          
        }
        .order_status{
            margin-top: 3vh;
            background-color: white;
            color: black;
            width:90%;
            padding: 20px;
            border-radius: 8px;
            .text{
                margin-left: 2vh;

            }
            .order_status_list{
                margin-left: 2vh;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3vh;
                .order_status_detail{
                    width: 100%;
                    margin-right: 1vh;
                    p{
                        font-size: 20px;
                        font-family: ThanhHai;
                    }
                }
            }
        }
      
    }
}

.btn_order_select{
    height: 5vh;
    width: fit-content;
    color: white;
    border-radius: 7px;
    margin-left: 2vh;
    width: 20vh;
}
.button{
    background-color: #ac0046;
    height: 5vh;
    width: 10vh;
    color: white;
    border: none;
    border-radius: 7px;
    margin-left: 2vh;
    &:hover{
        background-color: #d9f0ef;
        color: black;
    }
}