.done_payment{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
        font-size: 50px;
        color: #39b36c;
    }
    h4{
        margin-top: 2vh;
    }
    .btn_payment_done{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        .left{
            margin-right: 1vh;
            font-size: 13px;
            padding: 12px;
            border: none;
            outline: none;
            background-color: #ff1d63;
            border-radius: 6px;

            color: white;
            &:hover{
                background-color:black ;
                color: white;
            }
        }

        .right{
            margin-right: 1vh;
            font-size: 13px;
            padding: 12px;
            outline: none;
            border-radius: 6px;
            border: 1px solid rgba(128, 128, 128, 0.247);
            color: black;
            &:hover{
                background-color:black ;
                color: white;
            }
        }
    }
}
.cart{
    width: 100%;
    position: relative;
    top: 20vh;
    height: fit-content;
    overflow-y: scroll;
    padding-left: 20vh;
    padding-right: 20vh;
   
  
   .left_cart{
        width: 90%;
        margin-bottom: 5vh;
        
        .info_cart{
            .title_cart{
                margin-bottom: 1vh;
                font-size: 20px;
                font-weight: bold;
            }
            border-radius: 7px;
            padding: 20px;
            border: 1px solid rgba(128, 128, 128, 0.247);
        }
        .list_cart{
            .img_table{
                img {
                    height: 10vh;
                    width: 70%;
                }
            }
            .btn_quantity{
                input{
                    padding: 10px;
                    border: 1px solid rgba(128, 128, 128, 0.247);
                    outline: none;
                    text-align: center;
                    width: 6vh;
                }
                button{
                    font-size: 13px;
                    padding: 12px;
                    border: none;
                    outline: none;
                    background-color: #ff1d63;
                    color: white;
                    &:hover{
                        background-color:black ;
                        color: white;
                    }
                }
            }

            .btn_table{
                display: flex;
                flex-direction: column-reverse;
                align-items: end;
                .btn_edit{
                    font-size: 13px;
                    padding: 10px 15px;
                    border: none;
                    outline: none;
                    color: black;
                    border-radius: 7px;
                    margin-top: 1vh;
                    &:hover{
                        background-color:black ;
                        color: white;
                    }
                }
                .btn_delete{
                    font-size: 13px;
                    padding: 10px 15px;
                    border: none;
                    outline: none;
                    color: black;
                    border-radius: 7px;
                    
                    &:hover{
                        background-color:black ;
                        color: white;
                    }
                }
            }
            width: 100%;
            margin-top: 2vh;
            .total{
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: center;
                .total_text{
                    width: 100%;
                    font-size: 13px;
                    padding: 14px;
                    outline: none;
                    border: 1px solid rgba(128, 128, 128, 0.247);
                    color: black;
                    border-radius: 10px;
                    margin-right: 1vh;
                    width: 20vh;
                    text-align: center;
                }
                
                .payment_now_order{
                    font-size: 13px;
                    padding: 12px 20px;
                    border: none;
                    outline: none;
                    background-color: #ff1d63;
                    color: white;
                    border-radius: 10px;
                    margin-right: 1vh;
                    width: 30vh;
                    &:hover{
                        background-color:black ;
                        color: white;
                    }
                }
            }
            .top_cart{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left{
                    font-size: 20px;
                    font-weight: bold;
                }
                .right{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button{
                        font-size: 13px;
                        padding: 12px 20px;
                        border: none;
                        outline: none;
                        background-color: #ff1d63;
                        color: white;
                        border-radius: 10px;
                        margin-right: 1vh;
                        width: 30vh;
                        &:hover{
                            background-color:black ;
                            color: white;
                        }
                    }
                    .text_orderid{
                        font-size: 13px;
                        padding: 14px;
                        outline: none;
                        border: 1px solid rgba(128, 128, 128, 0.247);
                        color: black;
                        border-radius: 10px;
                        margin-right: 1vh;
                        width: 20vh;
                        text-align: center;
                    }
                  
                }
            
            }
            border-radius: 7px;
            padding: 20px;
            border: 1px solid rgba(128, 128, 128, 0.247);
        }

   }

   .right_cart{
        width: 100%;
        margin-bottom: 5vh;
        .info_payment_falselogin{
            border-radius: 7px;
            padding: 20px;
            border: 1px solid rgba(128, 128, 128, 0.247);
            .title_payment{
                font-size: 20px;
                font-weight: bold;
            }
            p{
                font-weight: bold;
            }
        }
        .info_payment{
           
           
            border-radius: 7px;
            padding: 20px;
            border: 1px solid rgba(128, 128, 128, 0.247);
            .title_payment{
                font-size: 20px;
                font-weight: bold;
            }
            .option_payment{
                font-size: 15px;
                margin-top: 1vh;
                font-family: ThanhHai;
            }
            .payment_accept{
                font-size: 15px;
                margin-top: 2vh;
                font-family: ThanhHai;
                margin-left: -1.9vh;
                span{
                    margin-left: 1vh;
                }
            }
            .send_mail_payment_accept{
                margin-top: 1vh;
                display: flex;
                flex-direction: column;
                align-items: start;
                font-size: 15px;
                font-family: ThanhHai;
                input{
                    margin-top: 10px;
                    width: 35vh;
                    font-size: 15px;
                    padding: 10px;
                    border: 0.5px solid rgba(128, 128, 128, 0.315);
                    border-radius: 5px;
                    outline: none;
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    font-size: 13px;
                    padding: 12px 20px;
                    border: none;
                    outline: none;
                    background-color: #ff1d63;
                    color: white;
                    border-radius: 7px;
                    margin-top: 1vh;
                    width: 35vh;
                    &:hover{
                        background-color:black ;
                        color: white;
                    }
                }
            }
            .btn_payment{
                margin-top: 1vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .payment_money{
                    font-size: 13px;
                    padding: 12px 20px;
                    border: none;
                    outline: none;
                    background-color: #ff1d63;
                    color: white;
                    border-radius: 7px;
                    margin-right: 1vh;
                    width: 30vh;
                    &:hover{
                        background-color:black ;
                        color: white;
                    }
                }
                .payment_vnpay{
                    font-size: 13px;
                    padding: 12px 20px;
                    outline: none;
                    border: 1px solid rgba(128, 128, 128, 0.247);
                    color: black;
                    border-radius: 7px;
                    margin-right: 1vh;
                    width: 30vh;
                    &:hover{
                        background-color:black ;
                        color: white;
                    }
                }
            }
            .total_product{
                display: flex;
                justify-content: start;
                align-items: center ;
                margin-top: 1vh;
                i{
                    padding: 15px;
                    background-color: #ff1d63;
                    color: white;
                    border-radius: 10px;
                    margin-right: 2vh;
                }
                .text_total{
                    span{
                        font-size: 12px;
                    }
                    h4{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    input{
                        width: 30vh;
                        font-size: 15px;
                        padding: 10px;
                        border: 0.5px solid rgba(128, 128, 128, 0.315);
                        border-radius: 5px;
                        outline: none;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
   }
}